<header class="header">
    <div class="row">
        <div class="col-md-7 logo">
            <a href="{{ path('app_home') }}">
                <img src="{{ asset('assets/images/logo2.svg') }}" alt="" />
            </a>
        </div>
        <div class="col-md-5 buttons">
            <a class="btn" href="{{ path('app_events') }}" role="button">{{ 'Events'|trans }}</a>
            {% if item is not null %}
                <a class="btn" href="{{ path('app_detail_object_map', { slug: item.slug}) }}" role="button">{{ 'Map'|trans }}</a>
            {% else %}
                <a class="btn" href="{{ path('app_map', { isEvent: 1}) }}" role="button">{{ 'Map'|trans }}</a>
            {% endif %}
        </div>
    </div>
</header>