<div class="list-item">
    <a href="{{ path('app_detail_event', { slug: item.slug}) }}" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
        <h3 class="mb-1 more">{{ item.title }}</h3>
        <div class="slider">
            <img src="{{ asset('uploads/files/' ~ item.image) }}" class="item-image" alt="" />
        </div>
        <div class="description">
{#            {% if location is not null %}#}
{#                <span class="small-grey">{{ category.subtitle }} {{ 'in'|trans }} {{ location.title }}</span>#}
{#            {% endif %}#}

            <div class="row">
                <div class="col-8">
                    {% if item.address %}
                        <div class="address">{{ item.address }}</div>
                    {% endif %}
                    {% if item.detailAddress %}
                        <div class="address">{{ item.detailAddress }}</div>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    {% if item.timetable %}
                        <div class="timetable">{{ 'Timetable'|trans }}: {{ item.timetable }}</div>
                    {% endif %}
                </div>
                <div class="col-6">
                    {% if item.price %}
                        <div class="average">{{ 'Average Check'|trans }}: {{ item.price|format_currency('RUB', {fraction_digit: 0}) }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </a>

    <div class="buttons buttons-item">
        <a class="btn active" href="{{ path('app_detail_event', { slug: item.slug}) }}" role="button">{{ 'More'|trans }}</a>

        {% if category is defined and location is defined and location is not null %}
            <a class="btn " href="{{ path('app_detail_object_map', { slug: item.slug}) }}" role="button">{{ 'Show on map'|trans }}</a>
        {% elseif category is defined %}
            <a class="btn " href="{{ path('app_detail_object_map', { slug: item.slug}) }}" role="button">{{ 'Show on map'|trans }}</a>
        {% endif %}
    </div>

</div>