<header class="header">
    <div class="row">
        <div class="col-md-7 logo">
            <a href="{{ path('app_home') }}">
                <img src="{{ asset('assets/images/logo2.svg') }}" alt="" />
            </a>
        </div>
        <div class="col-md-5 buttons">
            <a class="btn " href="{{ path('app_events') }}" role="button">{{ 'Events'|trans }}</a>
            {% if category is defined and location is defined and location is not null %}
                <a class="btn " href="{{ path('app_map_location_list', { slug: location.slug, category: category.id}) }}" role="button">{{ 'Map'|trans }}</a>
            {% elseif category is defined and category is not null %}
                <a class="btn " href="{{ path('app_category_map', { slug: category.slug}) }}" role="button">{{ 'Map'|trans }}</a>
            {% endif %}
        </div>
    </div>
</header>