<div class="list-item">
    <a href="{{ path('app_detail_item', { slug: item.slug, category: category.id}) }}" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
        <h3 class="mb-1 more">{{ item.title }}</h3>
        <div class="slider">
            <img src="{{ asset('uploads/files/' ~ item.image) }}" class="item-image" alt="" />
        </div>
        <div class="description">
            {% if location is not null %}
                <span class="small-grey">{{ category.subtitle }} {{ 'in'|trans }} {{ location.title }}</span>
            {% endif %}
            <div class="address">{{ item.address }}</div>
            <div class="row">
                <div class="col-6">
                    {% if item.timetable %}
                        <div class="timetable">{{ 'Timetable'|trans }}: {{ item.timetable }}</div>
                    {% endif %}
                </div>
                <div class="col-6">
                    {% if item.averageCheck %}
                        <div class="average">{{ 'Average Check'|trans }}: {{ item.averageCheck|format_currency('RUB', {fraction_digit: 0}) }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </a>
    <div class="buttons buttons-item">
        <a class="btn active" href="tel:{{ item.phone|trim|replace({'(': '', ')': '', ' ': '-', '.': '-', '+': ''}) }}" role="button">{{ 'Call'|trans }}</a>
        <a class="btn " href="#" role="button">{{ 'Show on map'|trans }}</a>
    </div>
</div>


{#<div class="col-10 mb-1 small">
    {% if item.teaser %}
        {{ item.teaser|length > 50 ?item.teaser|slice(0, 50) ~ '...' : item.teaser  }}
    {% else %}
        {{ item.description|striptags|u.truncate(50,  '...')|raw }}
    {% endif %}
</div>#}