{% extends 'main.html.twig' %}
{% block title %} - Список объектов{% endblock %}
{% block body %}
    <main class="d-flex flex-nowrap">
        <h1 class="visually-hidden">{{ 'List items'|trans }}</h1>

        <div class="b-divider b-vr-left"></div>
        <div class="b-divider b-vr"></div>
        {#        {% include 'partials/nav2.html.twig' %}#}
        {% include 'partials/nav.html.twig' %}

        <div class="b-divider b-vr"></div>
        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">

            <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
                <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
                {% if category is not null %}
                    <span class="fs-5 fw-semibold">{{ 'List items'|trans }} в категории "{{ category.title }}"</span>
                {% else %}
                    <span class="fs-5 fw-semibold">{{ 'List items'|trans }}</span>
                {% endif %}
            </a>

            <div class="list-group list-group-flush border-bottom scrollarea">
                {% if items is not null %}
                    {% for item in items %}
                        <a href="{{ path('app_show_item', { slug: item.slug}) }}" class="list-group-item list-group-item-action py-3 lh-sm" aria-current="true">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <strong class="mb-1">{{ item.title }}</strong>
                                {# <small>Wed</small>#}
                            </div>
                            <img src="{{ asset('uploads/files/' ~ item.image) }}" class="item-image" alt="" />
                            <div class="col-10 mb-1 small">
                                {% if item.teaser %}
                                    {{ item.teaser|length > 50 ?item.teaser|slice(0, 50) ~ '...' : item.teaser  }}
                                {% else %}
                                    {{ item.description|striptags|u.truncate(50,  '...')|raw }}
                                {% endif %}
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                    <p>{{ 'List empty'|trans }}</p>
                {% endif %}
            </div>
        </div>

        <div class="b-divider b-vr"></div>
    </main>
{% endblock %}
